@import "tailwindcss";

  :root {
  --body-background:#EEFCF2;
  --banner-btn :#68B16A;
  --subtitle:#FFA03F;
  --ptext:#6A6A6A;
  --cardbackground:#E7FBED;
  --h2color:#E5E5E5;
  --dropdowntext:#737373;
  --imagebackground:#FFEEEE;
  --loanvector:#254882;
  --bordvector:#CBD8EC;

  } 


body{
  
  margin: 0 auto ;
  width: 100vw;
  overflow-x: hidden;
}


.circle-bord{

/* Line 10 */

width: 64.01px;
height: 0px;
position: absolute;
left: 100%;
top:30px;
border: 3px solid #62AC62;
transform: rotate(89.55deg);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;




}
.circle-btn{


width: 175px;
height: 45px;






background: linear-gradient(90deg, #68B17D 0%, #72FE76 100%);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
padding-left: 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.circle{
  position: absolute;
  /* width:1000px;
  height: 1000px; */
z-index: -1;
  border-radius: 50%;
  background:var(--body-background);
  top: -700px;
  right: -280px;
  width: 1176px;
  height: 1176px;
}
.circle-img{
  position: absolute;
  bottom: -100PX;
  right: 455px;
} 


.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}
.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}
.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc(
    (10s / var(--quantity)) * (var(--position) - 1)
  ) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider .list .item img {
  max-width: 150%;
  max-height: 150%;
  width: 100%;
  object-fit: contain;
  opacity: 0.9;
}

.slider .list .item img.ss {
  max-width: 200px;
}
@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}
.slider:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}
.slider .item:hover {
  filter: grayscale(0);
}
.slider[reverse="true"] .item {
  animation: reversePlay 10s linear infinite;
}
@keyframes reversePlay {
  from {
    left: calc(var(--width) * -1);
  }
  to {
    left: 100%;
  }
}

/* education container */

.element-1{
  position: absolute;
  left: 0px;
  bottom: 60px;
}
.element-2{
  position: absolute;
  right: 0px;
  bottom: 100px;
}
.element-3{
  position: absolute;
  left: 180px;
  bottom: 80px;
}
.element-4{
  position: absolute;
  right: 140px;
  bottom: 260px;
}

/* whychoose content */

.readmore{
padding: 10px;

background: #88C451;
border-radius: 50px;

}

.book-element-1{
  position: absolute;
top: 390px;
right: 60px;
}
.book-element-2{
  position: absolute;
top: 30px;
right: 60px;
}
.book-element-3{
  position: absolute;
  left: 20px;
  bottom: 150px;
}
.book-element-4{
  position: absolute;
  top: 20px;
  left:30px;
}
.book-element-5{
  position: absolute;
  top: 0px;
  right: 0px;
}
.book-element-6{
  position: absolute;
  top: 50px;
  right: 90px;
}

/* .contain{
  position: relative;
}
.middle{
  position: absolute;
  bottom: 50px;
  left: 40px;
  opacity: 0;
}

.contain:hover .middle{
  opacity: 1;
} */


/* Rectangle 702 */

.rect{
  box-sizing: border-box;

background: rgba(255, 237, 237, 0.37);
backdrop-filter: blur(27.5px);
}

.load{
  background:white;
  box-shadow: 8.79358px 4.7965px 24.7819px #EBEBEB;
  border-radius: 15.9883px 15.9883px 0px 0px;
  
}


.icon-scroller{
  animation: verticalscroll 6s linear infinite;
}
@keyframes verticalscroll {
   0%{
    transform: translateY(50%);
   }100%{
    transform: translateY(0%);
   }
}





