@import "tailwindcss";

:root {
 --body-background:#EEFCF2;
} 
.circle{
  position: relative;
  /* width:1000px;
  height: 1000px; */
z-index: -1;
  border-radius: 50%;
  background:var(--body-background);
  top: -850px;
  right: -400px;
  width: 1176px;
  height: 1176px;
}
.circle-img{
  position: absolute;
  bottom: -100PX;
  right: 455px;
} 
.circle-alt{
  position: absolute;
  bottom: -100PX;
  right: 455px;
  display: flex;
  border-radius: 50%;
}